#cityName {
text-align: center;
 color: darkgrey;
}
.mainVideo {
    margin: auto;
    padding: 2%;
    border: 2%;
    align-items: center;
}
.jumbotron {
    align-items: center;
    width: 100%;
}
.card {
    background-color: skyblue;
}
.weather {
    width: 90%;
    height: 95%;
    margin: 2%;
    padding: 2%;
    color: white;
}
.music {
    color: white;
    text-align: center;
}

.bi-music-player-fill {
    margin: 2%;
    padding: 2%;
}
.row {
    margin-bottom: 2%;
    margin-top: 2%;
}
.drinks {
    font-size: 48px;
    color: white;
}
.bi-brightness-alt-high {
    color: orange;
}
.bi-brightness-alt-high-fill {
    color: yellow;
}