#cityName {
 color: darkgrey;
}
.mainVideo {
    margin: 2%;
    padding: 2%;
    border: 2%;
    align-items: center;
}
.jumbotron {
    align-items: center;
    width: 100%;
}
.weatherCard {
    margin: 2%;
    padding: 2%;
    border: 2%;
    align-items: center;
}
.card-img-top {
    align-items: center;
}