.navbar{
    background-color: blue;
}

#navbar-link{
    color: white;
    margin: auto;
}

.col-xs-12{
    text-align: center;
    margin: auto;
    padding: 5px;
}
.home-button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    width: 200px;
    height: 80%;
    white-space: normal;
    table-layout: fixed;
 display: block;
  }

